body {
  background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/background.jpg');
  background-position: center top;
  background-size: contain;
  margin: 0;
}

.page-title {
  text-align: center;
  font-weight: 100;
}

.section-top {
text-align: left;
 color: red;
 font-size: 2em;
}

.work-experience{
   border: 1px solid blue;
  
}
.work-entry{}
.work-intro{
  font-size: 2.5em;
  font-weight: bold;
  
}
.education{}
