
.page-title {
  text-align: center;
  font-weight: 100;
}

."section-top" {
font-family: "Trebuchet MS", Helvetica, sans-serif;
text-align: left;
 color: blue;
 font-size: 2em;
}

.work-experience{
   border: 1px solid blue;
  
}
.work-entry{}
.work-intro{}
.education{}
